/* RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 1
  Author: Doan Tran Thien Phuc
  ID: s3926377
  Acknowledgement: Canvas slides, stackoverflow, colorhunt.co, getemoji.com */

@media (max-width: 960px){
    .navBar{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 200px;
    }

    header{
        height: fit-content ;
        flex-direction: column;
        align-items: center;
    }

    header .navBarContainer{
        display: none;
    }

    #navButton:hover + .navBarContainer{
        display: block;
    }

    .navBarContainer:hover{
        display: block;
    }

    .navBarContainer:hover #navButton{
        display: none;
    }

    #navButton{
        width: 200px;
        margin-top: 20px;
    }

    footer{
        justify-content: center;
    }

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bookBox{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .book{
        margin-bottom: 50px;
    }
}

@media (min-width: 961px){
    .navBar{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-right: 10px;
    }

    nav{
        display: flex;
        justify-content: flex-end;
    }
    
    #navButton{
        display: none;
    }
    header a{
        text-decoration: none;
        color: black;
    }

    footer{
        justify-content: flex-end;
    }

    footer .navBar{
        width: 100%;
    }

    header .button{
        width: 200px
    }
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: lightgrey;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    min-width: 615px;
    min-height: 150px;
    background-color: black;
}

#storeLogo{
    width: 400px;
    align-self: center;
    margin-left: 25px;
}

#navButton{
    text-align: center;
}

header nav{
    display: flex;
    align-items: flex-end;
}

.button{
    text-align: center;
    font-family: 'Optima';
    font-size: 20px;
    line-height: 50px;
    height: 49px;
    width: 200px;
    position: relative;
    color: white;
    text-decoration: none;    
}

header .button::after, #contact::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom-right;
    transition: transform 0.25s ease-out;
}

header .button:hover::after, #contact:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

footer{
    height: auto;
    min-height: 100px;
    width: 100%;
    display: flex;
    background-color: black;
    min-width: 615px;
    align-items: center;
}


.categoryBox{
    font-size: xx-large;
    width: 80%;
    height: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-width: 768px; */
    background-color: white;
    padding-top: 30px;
    padding-bottom: 50px;
    margin: 100px 100px 0px 100px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 1px grey solid;
    padding-bottom: 100px;
}

h1{
    font-family: 'Optima';
    color: black;
    font-size: 30px;
}

@keyframes popShadow {
    0%{
        box-shadow: none;
    }
    100%{
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
        transform: scale(1.2);
        
    }
}

.bookBox{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.book{
    margin-top: 25px;
    height: 300px;
    width: 200px;
    border-radius: 3px;
    border: 1px black solid;
}

.bookInfo{
    font-size: medium;
}

.book:hover {
    animation: popShadow 0.5s;
    animation-fill-mode: forwards;
}

#scifi, #philosophy{
    margin-bottom: 100px;
}

@font-face {
    font-family: Optima;
    src: url(../assets/font/optima-cufonfonts/OPTIMA.TTF);
}