@media (max-width: 960px){
    .navBar{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 200px;
    }

    header{
        height: fit-content ;
        flex-direction: column;
        align-items: center;
    }

    header .navBarContainer{
        display: none;
    }

    #navButton:hover + .navBarContainer{
        display: block;
    }

    .navBarContainer:hover{
        display: block;
    }

    .navBarContainer:hover #navButton{
        display: none;
    }

    #navButton{
        width: 200px;
        margin-top: 20px;
    }

    footer{
        justify-content: center;
    }

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inputGroup{
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: space-between;
        margin-top: 20px;
    }

    button{
        margin-top: 10px;
        width: 100px;
    }

    #buttonGroup{
        display: flex;
        align-items: center;
    }

    h1{
        font-size: 25px;
    }
}

@media (min-width: 961px){
    .navBar{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-right: 10px;
    }

    nav{
        display: flex;
        justify-content: flex-end;
    }
    
    #navButton{
        display: none;
    }
    header a{
        text-decoration: none;
        color: black;
    }

    footer{
        justify-content: flex-end;
    }

    footer .navBar{
        width: 100%;
    }

    header .button{
        width: 100px
    }

    .inputGroup{
        display: flex;
        width: 80%;
        justify-content: space-between;
        margin-top: 20px;
    }

    h1{
        font-size: 30px;
    }
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: lightgrey;
}

header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    min-width: 615px;
    min-height: 150px;
    background-color: black;
}

#storeLogo{
    width: 400px;
    align-self: center;
    margin-left: 25px;
}

#navButton{
    text-align: center;
}

header nav{
    display: flex;
    align-items: flex-end;
}

.button{
    text-align: center;
    font-family: 'Oswald';
    font-size: 20px;
    line-height: 50px;
    height: 49px;
    width: 200px;
    position: relative;
    color: white;
    text-decoration: none;    
}

.button::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom-right;
    transition: transform 0.25s ease-out;
}

.button:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


footer{
    height: auto;
    min-height: 100px;
    width: 100%;
    display: flex;
    background-color: black;
    min-width: 615px;
    align-items: center;
}

.contactForm{
    width: 50%;
    height: fit-content;
    border: 1px grey solid;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    background-color: white;
    font-family: 'Arial';
    padding-bottom: 50px
}

.contactForm select, input, button{
    font-size: 25px;
}



#buttonGroup{
    justify-content: space-evenly;
}

.choiceGroup{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

label{
    display: flex;
    align-items: center;
    min-width: 200px;
}

#name, #email, #phone, #purpose, #extraNotes{
    width: 90%;
}




@font-face {
    font-family: Oswald;
    src: url(../assets/font/Oswald/Oswald-VariableFont_wght.ttf);
}

